html {
  font-size: 100%;
}

body {
  background-color: var(--base);
}

#container {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-flow: wrap;
  align-content: center;
}

h1 {
  color: var(--base);
  writing-mode: vertical-lr;
  rotate: var(--tw-rotate);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 15.5vh;
  position: absolute;
  right: 0;
  top: -1rem;
  transform: translateX(-21%);
  z-index: -1;
}

.list {
  color: var(--base);
  z-index: 1;
  border-radius: 2rem;
  width: 75%;
  height: 70vh;
  padding: 5rem;
  position: relative;

  background: linear-gradient(
      270deg,
      rgba(214, 243, 31, 1),
      rgb(143 37 159 / 70%)),
    url(../assets/grain.svg);
}

#shopping-list {
  overflow-y: scroll;
  height: 50vh;
  margin-bottom: 1rem;
  width: 95%;
  line-break: anywhere;
}

input,
ul li button {
  border: none;
  background: none;
}

ul li button {
  border-right: solid var(--base) 3px;
  margin-right: 1rem;
  padding-right: 1rem;
}

ul li button img {
  width: 30px;
  height: auto;
}

ul li button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

li {
  list-style: none;
  padding-left: 1rem;
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  break-inside: avoid;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.onClick {
  opacity: 0.5;
  text-decoration: line-through;
}

.add-button {
  background-color: var(--base);
  color: var(--neon);
  border: none;
  border-radius: 5rem;
  padding: 0.5rem;
  margin: 0 2rem;
  white-space: nowrap;
  cursor: pointer;
}

.button-text {
  color: var(--white);
  mix-blend-mode: darken;
}

.add-button:hover {
  opacity: 0.9;
}

.add-button:active {
  opacity: 0.8;
}

.flex-item {
  display: flex;
  justify-content: flex-start;
}

#product {
  border-bottom: solid var(--base) 3px;
  width: 20rem;
}

#product::placeholder {
  color: var(--base);
}

/* Phone */

@media screen and (max-width: 600px) {
  #product {
    width: 10rem;
  }

  #shopping-list {
    height: 70vh;
  }

  .add-button:hover,
  :active {
    opacity: 1;
  }

  .list {
    padding: 3rem 2rem;
    width: 90%;
    height: 85%;
    margin: 0;
    clip-path: inset(0 0 0 0 round 2rem);
  }

  h1 {
    display: none;
    top: 4rem;
    opacity: 0.6;
    color: var(--neon-trans);
  }
}
